/*Threads and pin*/

.dreamCatcher-container {
  transform: translatey(0px);
  animation: float 12s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

#eye {
  position: relative;
  width: 200px;
  height: 200px;
  top: -218px;
  left: 46px;
  border: 4px solid #ae7142;
  border-radius: 0px 200px 0px 200px;
  transform: rotate(-45deg);
}

#eye1 {
  position: relative;
  width: 200px;
  height: 200px;
  top: -432px;
  left: 49px;
  border: 4px solid #ae7142;
  border-radius: 200px 0px 200px 0px;
  transform: rotate(-45deg);
}

#eye2 {
  position: relative;
  width: 200px;
  height: 200px;
  top: -634px;
  left: 50px;
  border: 4px solid #ae7142;
  border-radius: 200px 0px 200px 0px;
}

#eye3 {
  position: relative;
  width: 200px;
  height: 200px;
  top: -845px;
  left: 45px;
  border: 4px solid #ae7142;
  border-radius: 200px 0px 200px 0px;
  transform: rotate(-90deg);
}

#eye4 {
  position: relative;
  width: 190px;
  height: 190px;
  top: -1048px;
  left: 53px;
  border: 2px solid #ae7142;
  border-radius: 0px 190px 0px 190px;
  transform: rotate(22.5deg);
}

#eye5 {
  position: relative;
  width: 190px;
  height: 190px;
  top: -1239px;
  left: 59px;
  border: 2px solid #ae7142;
  border-radius: 190px 0px 190px 0px;
  transform: rotate(-22.5deg);
}

#eye6 {
  position: relative;
  width: 190px;
  height: 190px;
  top: -1431px;
  left: 52px;
  border: 2px solid #ae7142;
  border-radius: 200px 0px 200px 0px;
  transform: rotate(67.5deg);
}

#eye7 {
  position: relative;
  width: 190px;
  height: 190px;
  top: -1620px;
  left: 56px;
  border: 2px solid #ae7142;
  border-radius: 200px 0px 200px 0px;
  transform: rotate(22.5deg);
}

#thread1 {
  position: absolute;
  width: 4px;
  height: 35px;
  z-index: -1;
  top: 322px;
  left: 381px;
  background: #ae7142;
  transform: rotate(10deg);
}

#thread2 {
  position: absolute;
  width: 4px;
  height: 45px;
  z-index: -1;
  top: 340px;
  left: 522px;
  background: #ae7142;
  transform: rotate(-7deg);
}

#thread3 {
  position: absolute;
  width: 4px;
  height: 25px;
  z-index: -1;
  top: 340px;
  left: 451.5px;
  background: #ae7142;
}

#thread4 {
  position: absolute;
  width: 4px;
  height: 25px;
  z-index: -1;
  top: 370px;
  left: 445px;
  background: #ae7142;
  transform: rotate(15deg);
}

#thread5 {
  position: absolute;
  width: 4px;
  height: 55px;
  z-index: -1;
  top: 370px;
  left: 460px;
  background: #ae7142;
  transform: rotate(-18deg);
}

#thread6 {
  position: absolute;
  width: 4px;
  height: 25px;
  z-index: -1;
  top: 20px;
  left: 451.5px;
  background: #ae7142;
}

#pin {
  position: absolute;
  visibility: hidden;
  width: 15px;
  height: 15px;
  top: 5px;
  left: 155px;
  border-radius: 200px;
  background: radial-gradient(ellipse at center, #555, #222);
}

/*Main circle*/

#circle1 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50px;
  left: 300px;
  border-radius: 200px;
  background: radial-gradient(
    ellipse at center,
    rgba(152, 99, 47, 1) 0%,
    rgba(152, 99, 47, 1) 63%,
    rgba(255, 200, 117, 1) 67%,
    rgba(152, 99, 47, 1) 72%,
    rgba(152, 99, 47, 1) 100%
  );
}

#circle2 {
  position: relative;
  width: 270px;
  height: 270px;
  top: 15px;
  left: 15px;
  border-radius: 200px;
  background: #444;
}

/*Brown ellipses*/

#ell1 {
  position: absolute;
  width: 9px;
  height: 25px;
  top: -6px;
  left: 149px;
  border-radius: 7px / 25px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell2 {
  position: absolute;
  width: 9px;
  height: 23px;
  top: -5px;
  left: 140px;
  border-radius: 7px / 23px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell3 {
  position: absolute;
  width: 9px;
  height: 23px;
  top: -5px;
  left: 158px;
  border-radius: 7px / 23px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell4 {
  position: absolute;
  width: 9px;
  height: 26px;
  top: 281px;
  left: 149px;
  border-radius: 7px / 25px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell5 {
  position: absolute;
  width: 9px;
  height: 23px;
  top: 282px;
  left: 140px;
  border-radius: 7px / 23px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell6 {
  position: absolute;
  width: 9px;
  height: 23px;
  top: 282px;
  left: 158px;
  border-radius: 7px / 23px;
  background: linear-gradient(
    to right,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell7 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 150px;
  left: 280px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell8 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 141px;
  left: 281px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell9 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 159px;
  left: 281px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell10 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 150px;
  left: -6px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell11 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 141px;
  left: -5px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell12 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 159px;
  left: -5px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
}

#ell13 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 45px;
  left: 34px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell14 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 51px;
  left: 30px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell15 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 40px;
  left: 41px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell16 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 250px;
  left: 239px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell17 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 255px;
  left: 233px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell18 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 243px;
  left: 245px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(45deg);
}

#ell19 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 47px;
  left: 244px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

#ell20 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 42px;
  left: 239px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

#ell21 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 54px;
  left: 251px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

#ell22 {
  position: absolute;
  width: 25px;
  height: 9px;
  top: 252px;
  left: 41px;
  border-radius: 25px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

#ell23 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 246px;
  left: 36px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

#ell24 {
  position: absolute;
  width: 23px;
  height: 9px;
  top: 258px;
  left: 48px;
  border-radius: 23px / 7px;
  background: linear-gradient(
    to top,
    rgba(182, 102, 46, 1) 0%,
    rgba(233, 178, 95, 1) 51%,
    rgba(182, 102, 46, 1) 100%
  );
  transform: rotate(-45deg);
}

/*Beads*/

#blue_bead1 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 52px;
  left: 185px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 124px;
  left: 53px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead3 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 183px;
  left: 231px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead4 {
  position: absolute;
  width: 9px;
  height: 9px;
  top: 106px;
  left: 228px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead5 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 262px;
  left: 207px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead6 {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 262px;
  left: 72px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead7 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 213px;
  left: 98px;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#blue_bead8 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 336px;
  left: 131px;
  z-index: 1;
  border-radius: 200px;
  border: 2px solid #04b5ac;
  background: linear-gradient(to right, #d0ffff, #00dcda);
}

#violet_bead1 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 47px;
  left: 89px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead2 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 115px;
  left: 247px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 236px;
  left: 180px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead4 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 226px;
  left: 100px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead5 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 222px;
  left: 45px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead6 {
  position: absolute;
  width: 6px;
  height: 6px;
  top: 148px;
  left: 67px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead7 {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 303px;
  left: 73px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead8 {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 323px;
  left: 220px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#violet_bead9 {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 371px;
  left: 166px;
  border-radius: 200px;
  border: 2px solid #7a00ab;
  background: linear-gradient(to right, #ffc6ff, #9300e9);
}

#green_bead1 {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 48px;
  left: 206px;
  border-radius: 21px / 12px;
  border: 2px solid #1f842d;
  background: linear-gradient(to right, #36e653, #018d2c);
  transform: rotate(-10deg);
}

#green_bead2 {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 258px;
  left: 115px;
  border-radius: 21px / 12px;
  border: 2px solid #1f842d;
  background: linear-gradient(to right, #36e653, #018d2c);
  transform: rotate(53deg);
}

#green_bead3 {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 97px;
  left: 46px;
  border-radius: 10px;
  border: 2px solid #1f842d;
  background: linear-gradient(to right, #36e653, #018d2c);
  transform: rotate(-10deg);
}

#green_bead4 {
  position: absolute;
  width: 21px;
  height: 12px;
  top: 312px;
  left: 140px;
  border-radius: 21px / 12px;
  border: 2px solid #1f842d;
  background: linear-gradient(to right, #36e653, #018d2c);
}

/*Feather 1*/

#f2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 400px;
  left: 422px;
  background: linear-gradient(to right, #9300e9, #ffc6ff);
  border-radius: 70px 100px 5px 100px;
  transform: rotate(45deg);
}

#f1 {
  position: absolute;
  transform: scale(0.4, 1);
}

#middle {
  position: absolute;
  width: 5px;
  height: 176px;
  top: 380px;
  left: 197px;
  border-radius: 5px / 180px;
  background: #7a00ab;
}

#triangle1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 510px;
  left: 176px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(40deg);
}

#triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 438px;
  left: 174px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(35deg);
}

#triangle3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 427px;
  left: 218px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #444;
  transform: rotate(-32deg);
}

#triangle4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 505px;
  left: 216px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(-40deg);
}

#f3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 387px;
  left: 185px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 20px solid #9300e9;
  transform: rotate(-100deg);
}

#f4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 385px;
  left: 189px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 15px solid #9300e9;
  transform: rotate(-30deg);
}

#f5 {
  position: absolute;
  width: 0;
  height: 0;
  top: 380px;
  left: 205px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 20px solid #9300e9;
  transform: rotate(45deg);
}

#feather1 {
  position: absolute;
  top: -8px;
  left: 310px;
  transform: rotate(10deg);
}

/*Feather 2*/

#f2_2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 400px;
  left: 422px;
  background: linear-gradient(to left, #018d2c, #36e653);
  border-radius: 70px 100px 5px 100px;
  transform: rotate(45deg);
}

#f2_1 {
  position: absolute;
  transform: scale(0.4, 1);
}

#middle2 {
  position: absolute;
  width: 5px;
  height: 176px;
  top: 370px;
  left: 197px;
  border-radius: 5px / 180px;
  background: #1f842d;
}

#triangle2_1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 515px;
  left: 180px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(40deg);
}

#triangle2_2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 440px;
  left: 176px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(35deg);
}

#triangle2_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 430px;
  left: 220px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #444;
  transform: rotate(-32deg);
}

#triangle2_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 505px;
  left: 218px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(-40deg);
}

#f2_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 390px;
  left: 180px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 20px solid #36e653;
  transform: rotate(-100deg);
}

#f2_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 383px;
  left: 190px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 15px solid #36e653;
  transform: rotate(-30deg);
}

#f2_5 {
  position: absolute;
  width: 0;
  height: 0;
  top: 380px;
  left: 208px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 20px solid #36e653;
  transform: rotate(45deg);
}

#feather2 {
  position: absolute;
  top: 195px;
  left: 290px;
  transform: scale(0.7, 0.7) rotate(-10deg);
}

/*Feather 3*/

#f3_2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 400px;
  left: 422px;
  background: linear-gradient(to left, #00dcda, #d0ffff);
  border-radius: 70px 100px 5px 100px;
  transform: rotate(45deg);
}

#f3_1 {
  position: absolute;
  transform: scale(0.4, 1);
}

#middle3 {
  position: absolute;
  width: 5px;
  height: 176px;
  top: 370px;
  left: 197px;
  border-radius: 5px / 180px;
  background: #04b5ac;
}

#triangle3_1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 515px;
  left: 180px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(40deg);
}

#triangle3_2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 440px;
  left: 176px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(35deg);
}

#triangle3_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 430px;
  left: 220px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #444;
  transform: rotate(-32deg);
}

#triangle3_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 505px;
  left: 218px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(-40deg);
}

#f3_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 390px;
  left: 180px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 20px solid #d0ffff;
  transform: rotate(-100deg);
}

#f3_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 383px;
  left: 190px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 15px solid #d0ffff;
  transform: rotate(-30deg);
}

#f3_5 {
  position: absolute;
  width: 0;
  height: 0;
  top: 380px;
  left: 208px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 20px solid #d0ffff;
  transform: rotate(45deg);
}

#feather3 {
  position: absolute;
  top: -10px;
  left: 275px;
  transform: scale(0.9, 0.9) rotate(12deg);
}

/*Feather 4*/

#f4_2 {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 400px;
  left: 422px;
  background: linear-gradient(to left, #00dcda, #d0ffff);
  border-radius: 70px 100px 5px 100px;
  transform: rotate(45deg);
}

#f4_1 {
  position: absolute;
  transform: scale(0.4, 1);
}

#middle4 {
  position: absolute;
  width: 5px;
  height: 176px;
  top: 370px;
  left: 197px;
  border-radius: 5px / 180px;
  background: #04b5ac;
}

#triangle4_1 {
  position: absolute;
  width: 0;
  height: 0;
  top: 515px;
  left: 180px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(40deg);
}

#triangle4_2 {
  position: absolute;
  width: 0;
  height: 0;
  top: 440px;
  left: 176px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(35deg);
}

#triangle4_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 430px;
  left: 220px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 50px solid #444;
  transform: rotate(-32deg);
}

#triangle4_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 505px;
  left: 218px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 40px solid #444;
  transform: rotate(-40deg);
}

#f4_3 {
  position: absolute;
  width: 0;
  height: 0;
  top: 390px;
  left: 180px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 20px solid #d0ffff;
  transform: rotate(-100deg);
}

#f4_4 {
  position: absolute;
  width: 0;
  height: 0;
  top: 383px;
  left: 190px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 15px solid #d0ffff;
  transform: rotate(-30deg);
}

#f4_5 {
  position: absolute;
  width: 0;
  height: 0;
  top: 380px;
  left: 208px;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 20px solid #d0ffff;
  transform: rotate(45deg);
}

#feather4 {
  position: absolute;
  top: 85px;
  left: 280px;
  transform: scale(0.9, 0.9) rotate(-12deg);
}

#dreamCatcher {
  display: flex;
  position: relative;
  right: 45rem;
  bottom: 3rem;
}

#container {
  display: flex;
}

#background {
  display: flex;
}
